<script setup>
// import Layout from './Layout'
import { Head } from '@inertiajs/vue3'

defineProps({ data: Object })
</script>

<template>
    <Layout>
        <Head title="Welcome" />
        <h1>Welcome</h1>
        <p>{{ data }}</p>
    </Layout>
</template>